@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

html {
  box-sizing: border-box;
  background: #778899;
  font-family: "Nerko One", cursive;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

footer {
  font-size: 12px;
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #778899;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url("leonard-cotte.jpg");
}
.panel2 {
  background-image: url("sam-bark.jpg");
}
.panel3 {
  background-image: url("cyril-mazarin.jpg");
}
.panel4 {
  background-image: url("rodrigo-kugnharski.jpg");
}
.panel5 {
  background-image: url("daniele-d-andreti.jpg");
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Nerko One", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
